
conda create -n chaperone_env python=3.12 -y
conda activate chaperone_env

# Install the Latest Build of Gemma4 from the GitHub Repository
# may be able to pip install in the future, but not currently since its day 2 of the public release of Gemma4
git clone https://github.com/google-deepmind/gemma.git
cd gemma
pip install -e .

# Install JAX with NVIDIA GPU support and LangChain
conda run -n chaperone_env pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 -U

conda run -n chaperone_env pip install "jax[cuda12]" langchain langchain-community beautifulsoup4 chromadb pyyaml sentence-transformers rich torchvision torch ddgs pypdf transformers accelerate langchain-huggingface duckduckgo-search arxiv biopython

conda run -n chaperone_env pip install -U transformers torch accelerate


then install the gemma model weights from kagglehub or huggingface